<footer>
<div class="text-center p-3 fixed-bottom" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-white" href="http://127.0.0.1:3000">EventManagement</a>
  </div>
  
</footer>
